{#
/* COPYRIGHT
------------------------------------------------------------------  
  Omni for Drupal 8.x - Version 1.0                           
  Copyright (C) 2016 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Omni Portfolio                                           
  Author: ESORS                                           
  Date: 19th August 2016                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    root_path ? 'page-' ~ root_path|clean_class,
    node_type ? 'node-type-' ~ node_type|clean_class,
  ]
%}
{% set current_url = url('<current>') %}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script>
      {% if (language == 'zh-hant') %}
        var fb_locale = 'zh_TW';
      {% else %}
        var fb_locale = 'en_US';
      {% endif %}
      
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/' + fb_locale + '/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>    
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">

    {% if 'from/hongkong' in current_url|render|render %}
      <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: {{ HK_FB_APP_ID }},
          autoLogAppEvents: true,
          xfbml: true,
          version: 'v2.12'
        });
      };
      </script>

      <div class="fb-customerchat"
        page_id="{{ HK_FB_PAGE_ID }}">
      </div>
    {% elseif 'from/macau' in current_url|render|render %}
      <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: {{ MACAU_FB_APP_ID }},
          autoLogAppEvents: true,
          xfbml: true,
          version: 'v2.12'
        });
      };
      </script>

      <div class="fb-customerchat"
        page_id="{{ MACAU_FB_PAGE_ID }}">
      </div>
    {% elseif 'from/malaysia' in current_url|render|render %}
      <!-- WhatsHelp.io widget -->
	<script type="text/javascript">
    	(function () {
        	var options = {
            	facebook: "{{ MALAYSIA_FB_PAGE_ID }}", // Facebook page ID
            	call: "+886-49-2910960 #2263", // Call phone number
            	call_to_action: "Message us", // Call to action
            	button_color: "#FF6550", // Color of button
            	position: "right", // Position may be 'right' or 'left'
            	order: "facebook,call", // Order of buttons
        	};
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
   	 })();
	</script>
      <!-- /WhatsHelp.io widget -->
    {% else %}	
    {% endif %}
  </body>
</html>
